<link rel="stylesheet" href="./css/app.css">

<head>
    <title>Adoptions</title>
    <h1>Adoptions</h1>
</head>

<body>
    <p id="links"> [ <a  href="/">Homepage</a> | <a href="customers">Customers</a> | <a href="pets">Pets</a> | <a
        href="employees">Employees</a> | <a href="adoptions">Adoptions</a> | <a href="vaccinations">Vaccinations</a> |
    <a href="petvaccinations">PetVaccinations </a>] </p>


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    {{!-- Creates a table --}}
    <table id="adoption-table">

        {{!-- Header section --}}
        <thead>

            {{!-- For just the first row, we print each key of the row object as a header cell so we
            know what each column means when the page renders --}}
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
                <th>Delete</th>
            </tr>
        </thead>

        {{!-- Body section --}}
        <tbody>

            {{!-- For each row, print the customer_id, first_name, last_name, street, city, state, 
            zip_code, and phone_number, in order --}}
            {{#each data}}
            <tr data-value={{this.adoption_id}}>
                <td>{{this.adoption_id}}</td>
                <td>{{this.customer_id}}</td>
                <td>{{this.date}}</td>
                <td>{{this.pet_id}}</td>
                <td>{{this.employee_id}}</td>
                <td><button onclick="deleteAdoption({{this.adoption_id}})">Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <script src="./js/delete_adoption.js"></script>

    <br><br>
    <div>
        <form id="add-adoption-form-ajax">
            <fieldset>
                <legend><strong>Add Adoption</strong></legend>

                <label for="input-customer_id">customer name: </label>
                <select type="number" name="input-customer_id" id="input-customer_id" required="required"/>
                    <option value="">Select a customer</option>
                    {{#each customer}}
                    <option value="{{this.customer_id}}">{{this.first_name}} {{this.last_name}}</option>
                    {{/each}}
                    </select>

                <label for="input-date">date: </label>
                <input type="date" name="input-date" id="input-date" required="required"/></input>

                <label for="input-pet_id">pet name: </label>
                <select type="number" name="input-pet_id" id="input-pet_id" required="required"/>
                      <option value="">Select a pet</option>
                    {{#each pet}}
                    <option value="{{this.pet_id}}">{{this.pet_name}}</option>
                    {{/each}}
                    </select>
                    
                <label for="input-employee_id">employee name: </label>
                <select type="number" name="input-employee_id" id="input-employee_id" required="required"/>
                    <option value="">Select a employee</option>
                    <option value="NULL">NULL</option>
                    {{#each employee}}
                    <option value="{{this.employee_id}}">{{this.first_name}} {{this.last_name}}</option>
                    {{/each}}
                    </select>
            </fieldset><br>
            <input type="submit">
        </form>
    </div>
    <script src="./js/add_adoption.js"></script>
</body>