<title>Customers</title>

<head>
  <link rel="stylesheet" href="./css/app.css">
</head>


<body>
    <h1>Customers</h1>
    <p id="links"> [ <a  href="/">Homepage</a> | <a href="customers">Customers</a> | <a href="pets">Pets</a> | <a
        href="employees">Employees</a> | <a href="adoptions">Adoptions</a> | <a href="vaccinations">Vaccinations</a> |
    <a href="petvaccinations">PetVaccinations </a>] </p>
    
    <p><strong>View Customers</strong></p>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


    {{!-- Creates a table --}}
    <table id="customer-table">

        {{!-- Header section --}}
        <thead>

            {{!-- For just the first row, we print each key of the row object as a header cell so we
            know what each column means when the page renders --}}
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
                <th>Delete</th>
            </tr>
        </thead>

        {{!-- Body section --}}
        <tbody>

            {{!-- For each row, print the customer_id, first_name, last_name, street, city, state, 
            zip_code, and phone_number, in order --}}
            {{#each data}}
            <tr data-value={{this.customer_id}}>
                <td>{{this.customer_id}}</td>
                <td>{{this.first_name}}</td>
                <td>{{this.last_name}}</td>
                <td>{{this.street}}</td>
                <td>{{this.city}}</td>
                <td>{{this.state}}</td>
                <td>{{this.zip_code}}</td>
                <td>{{this.phone_number}}</td>
                <td><button onclick="deleteCustomer({{this.customer_id}})">Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <script src="./js/delete_customer.js"></script>

    <br>

    <div>
        <form id="add-customer-form-ajax">
            <fieldset>
                <legend><strong>Add Customer</strong></legend>
                <label for="input-first_name">first name: </label>
                <input type="text" name="input-first_name" id="input-first_name" required="required"/>
                
                <label for="input-last_name">last name: </label>
                <input type="text" name="input-last_name" id="input-last_name" required="required"/>

                <label for="input-street">street: </label>
                <input type="text" name="input-street" id="input-street" required="required"/>

                <label for="input-city">city: </label>
                <input type="text" name="input-city" id="input-city" required="required"/>

                <label for="input-state">state: </label>
                <input type="text" name="input-state" id="input-state" minlength="2" maxlength = "2" required="required"/>

                <label for="input-zip_code">zip code: </label>
                <input type="text" name="input-zip_code" id="input-zip_code" pattern="[0-9]+" minlength = "5" 
                maxlength = "5" required="required"/>

                <label for="input-phone_number">phone number: </label>
                <input type="text" name="input-phone_number" id="input-phone_number" pattern="[0-9]+"
                 minlength= "10" maxlength = "10" required="required"/>

            </fieldset><br>
            <input type="submit"/>
        </form>
    </div>

    <script src="./js/add_customer.js"></script>

    <div>
        <h2>Update A Customer </h2>
        <form id="update-person-form-ajax">

            <label for="input-fullname">Full name: </label>
            <select name="input-fullname" id="nameInput">
                <option value="test">Select a Person</option>
                {{#each people}}
                <option value="{{this.customer_id}}">{{this.first_name}} {{this.last_name}}</option>
                {{/each}}
            </select>
            
            <label for="input-update-phone_number">phone number: </label>
            <input type="text" name="input-update-phone_number" id="input-update-phone_number" pattern="[0-9]+"
            minlength="10"  maxlength = "10" required="required">
            <input type="submit">

        </form>

    </div>
    <script src="./js/update_customer.js"></script>
</body>