<title>Employees</title>

<head>
    <link rel="stylesheet" href="./css/app.css">
</head>


<body>
    <h1>Employees</h1>
    <p id="links"> [ <a  href="/">Homepage</a> | <a href="customers">Customers</a> | <a href="pets">Pets</a> | <a
        href="employees">Employees</a> | <a href="adoptions">Adoptions</a> | <a href="vaccinations">Vaccinations</a> |
    <a href="petvaccinations">PetVaccinations </a>] </p>
    <p><strong>View Employees</strong></p>


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


    {{!-- Creates a table --}}
    <table id="employee-table">

        {{!-- Header section --}}
        <thead>

            {{!-- For just the first row, we print each key of the row object as a header cell so we
            know what each column means when the page renders --}}
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
                <th>Delete</th>
            </tr>
        </thead>

        {{!-- Body section --}}
        <tbody>

            {{!-- For each row, print the customer_id, first_name, last_name, street, city, state, 
            zip_code, and phone_number, in order --}}
            {{#each data}}
            <tr data-value={{this.employee_id}}>
                <td>{{this.employee_id}}</td>
                <td>{{this.first_name}}</td>
                <td>{{this.last_name}}</td>
                <td><button onclick="deleteEmployee({{this.employee_id}})">Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <script src="./js/delete_employee.js"></script>

    <br>

    <div>
        <form id="add-employee-form-ajax">
            <fieldset>
                <legend><strong>Add employee</strong></legend>
                <label for="input-first_name">first name: </label>
                <input type="text" name="input-first_name" id="input-first_name" required="required">
                
                <label for="input-last_name">last name: </label>
                <input type="text" name="input-last_name" id="input-last_name" required="required">
            </fieldset><br>
            <input type="submit" value="Add Employee">
        </form>
    </div>

    <script src="./js/add_employee.js"></script>
</body>