<title>Pets</title>

<body>
    <h1>Pets</h1>
        [ <a href="/">Homepage</a> | <a href="customers">Customers</a> | <a href="pets">Pets</a> | <a
        href="employees">Employees</a> | <a href="adoptions">Adoptions</a> | <a
        href="vaccinations">Vaccinations</a> | <a href="petvaccinations">PetVaccinations</a>]
    <p><strong>View Pets</strong></p>

    <table border="1" cellpadding="5">
        {{!-- Header section --}}
        <thead>

            {{!-- For just the first row, we print each key of the row object as a header cell so we
            know what each column means when the page renders --}}
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
            </tr>
        </thead>

        {{!-- Body section --}}
        <tbody>

            {{!-- For each row, print the customer_id, first_name, last_name, street, city, state, 
            zip_code, and phone_number, in order --}}
            {{#each data}}
            <tr>
                <td>{{this.pet_id}}</td>
                <td>{{this.pet_name}}</td>
                <td>{{this.species}}</td>
                <td>{{this.age}}</td>
                <td>{{this.gender}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>



    <br>

    <div>
        <form id="add-pet-form" method="POST" action="/add-pet-form">
            <fieldset>
                <legend><strong>Add Pet</strong></legend>
                <label for="input-pet_name">pet name: </label>
                <input type="text" name="input-pet_name" id="input-pet_name" required="required">
                
                <label for="input-species">species: </label>
                <input type="text" name="input-species" id="input-species" required="required">

                <label for="input-age">age: </label>
                <input type="text" name="input-age" id="input-age" required="required">

                <label for="input-gender">gender: </label>
                <input type="text" name="input-gender" id="input-gender" required="required">
            </fieldset><br>
            <input type="submit" value="Add Pet">
        </form>
    </div>
</body>