<link rel="stylesheet" href="./css/app.css">

<head>
    <title>PetVaccinations</title>
    <h1>PetVaccinations</h1>
</head>

<body>
    <p id="links"> [ <a  href="/">Homepage</a> | <a href="customers">Customers</a> | <a href="pets">Pets</a> | <a
        href="employees">Employees</a> | <a href="adoptions">Adoptions</a> | <a href="vaccinations">Vaccinations</a> |
    <a href="petvaccinations">PetVaccinations </a>] </p>


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <table id="petvaccination-table">
        {{!-- Header section --}}
        <thead>

            {{!-- For just the first row, we print each key of the row object as a header cell so we
            know what each column means when the page renders --}}
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
                <th>Delete</th>
            </tr>
        </thead>

        {{!-- Body section --}}
        <tbody>

            {{!-- For each row, print the customer_id, first_name, last_name, street, city, state, 
            zip_code, and phone_number, in order --}}
            {{#each data}}
            <tr data-value={{this.petvaccination_id}}>
                <td>{{this.petvaccination_id}}</td>
                <td>{{this.date}}</td>
                <td>{{this.pet_id}}</td>
                <td>{{this.vaccination_id}}</td>
                <td><button onclick="deletePetVaccination({{this.petvaccination_id}})">Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>  
    <script src="./js/delete_petvaccination.js"></script>

    <br><br>

    <div>
        <form id="add-pVaccination-form-ajax">
            <fieldset>
                <legend><strong>Add Pet Vaccination</strong></legend>

                <label for="input-pet_id">pet name: </label>
                <select type="number" name="input-pet_id" id="input-pet_id" required="required"/>
                    <option value="">Select a pet name</option>
                    {{#each pet}}
                    <option value="{{this.pet_id}}">{{this.pet_name}}</option>
                    {{/each}}
                    </select>

                <label for="input-date">date: </label>
                <input type="date" name="input-date" id="input-date" required="required"/></input>

                <label for="input-vaccination_id">vaccine: </label>
                <select type="number" name="input-vaccination_id" id="input-vaccination_id" required="required"/>
                      <option value="">Select a vaccine</option>
                    {{#each vaccination}}
                    <option value="{{this.vaccination_id}}">{{this.vaccination_name}}</option>
                    {{/each}}
                    </select>
                    
            </fieldset><br>
            <input type="submit">
        </form>
    </div>
    <script src="./js/add_petvaccination.js"></script>

    <br><br>

    <div>

        <form id="update-pVac-form-ajax">
            <fieldset>
                <legend><strong>Update Pet Vaccination</strong></legend>
                <label for="input-fullname">Pet Vaccination ID: </label>
                <select name="input-fullname" id="idInput">
                    <option value="test">Select a ID</option>
                    {{#each data}}
                    <option value="{{this.petvaccination_id}}">{{this.petvaccination_id}}</option>
                    {{/each}}
                </select>
                
                <label for="input-update-date">date: </label>
                <input type="date" name="input-update-date" id="input-update-date" required="required"/></input><br>
            </fieldset><br>
            <input type="submit">

        </form>

    </div>
    <script src="./js/update_petvaccination.js"></script>

</body>