<title>PetVaccinations</title>

<body>
    <h1>PetVaccinations</h1>
        [ <a href="/">Homepage</a> | <a href="customers">Customers</a> | <a href="pets">Pets</a> | <a
        href="employees">Employees</a> | <a href="adoptions">Adoptions</a> | <a
        href="vaccinations">Vaccinations</a> | <a href="petvaccinations">PetVaccinations</a>]
    <p><strong>View PetVaccinations</strong></p>

       <table border="1" cellpadding="5">
        {{!-- Header section --}}
        <thead>

            {{!-- For just the first row, we print each key of the row object as a header cell so we
            know what each column means when the page renders --}}
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
            </tr>
        </thead>

        {{!-- Body section --}}
        <tbody>

            {{!-- For each row, print the customer_id, first_name, last_name, street, city, state, 
            zip_code, and phone_number, in order --}}
            {{#each data}}
            <tr>
                <td>{{this.petvaccination_id}}</td>
                <td>{{this.date}}</td>
                <td>{{this.pet_id}}</td>
                <td>{{this.vaccination_id}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>  

    <div>
        <form id="add-pVaccination-form-ajax" method="POST" action="/add-pVaccination-form">
            <fieldset>
                <legend><strong>Add Pet Vaccination</strong></legend>

                <label for="input-pet_id">pet id: </label>
                <select type="number" name="input-pet_id" id="input-pet_id">
                    <option value="">Select a pet id</option>
                    {{#each pet}}
                    <option value="{{this.pet_id}}">{{this.pet_id}}</option>
                    {{/each}}
                    </select><br>

                <label for="input-date">date: </label>
                <input type="date" name="input-date" id="input-date"></input><br>

                <label for="input-vaccination_id">vaccination_id: </label>
                <select type="number" name="input-vaccination_id" id="input-vaccination_id">
                      <option value="">Select a vaccination id</option>
                    {{#each vaccination}}
                    <option value="{{this.vaccination_id}}">{{this.vaccination_id}}</option>
                    {{/each}}
                    </select><br>
                    
            </fieldset><br>
            <input class="btn" type="submit" value="Add Pet Vaccination">
        </form>
    </div>
</body>