<title>Vaccinations</title>

<body>
    <h1>Vaccinations</h1>
        [ <a href="/">Homepage</a> | <a href="customers">Customers</a> | <a href="pets">Pets</a> | <a
        href="employees">Employees</a> | <a href="adoptions">Adoptions</a> | <a
        href="vaccinations">Vaccinations</a> | <a href="petvaccinations">PetVaccinations</a>]
    <p><strong>View Vaccinations</strong></p>

    <table border="1" cellpadding="5">
        {{!-- Header section --}}
        <thead>

            {{!-- For just the first row, we print each key of the row object as a header cell so we
            know what each column means when the page renders --}}
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
            </tr>
        </thead>

        {{!-- Body section --}}
        <tbody>

            {{!-- For each row, print the customer_id, first_name, last_name, street, city, state, 
            zip_code, and phone_number, in order --}}
            {{#each data}}
            <tr>
                <td>{{this.vaccination_id}}</td>
                <td>{{this.vaccination_name}}</td>
                <td>{{this.age_administered}}</td>
                <td>{{this.dosage}}</td>
                <td>{{this.species}}</td>
                <td>{{this.booster}}</td>
                <td>{{this.description}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>



    <br>

    <div>
        <form id="add-vaccination-form" method="POST" action="/add-vaccination-form">
            <fieldset>
                <legend><strong>Add Vaccination</strong></legend>
                <label for="input-vaccination_name">vaccination name: </label>
                <input type="text" name="input-vaccination_name" id="input-vaccination_name" required="required">
                
                <label for="input-age_administered">age administered: </label>
                <input type="text" name="input-age_administered" id="input-age_administered" required="required">

                <label for="input-dosage">dosage: </label>
                <input type="text" name="input-dosage" id="input-dosage" required="required">

                <label for="input-species">species: </label>
                <input type="text" name="input-species" id="input-species" required="required">

                <label for="input-booster">booster: </label>
                <input type="text" name="input-booster" id="input-booster" required="required">

                <label for="input-description">description: </label>
                <input type="text" name="input-description" id="input-description" required="required">
            </fieldset><br>
            <input type="submit" value="Add Vaccination">
        </form>
    </div>
</body>